body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 20px 0px 0px 0px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    outline: none !important;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn img{
    max-width: 40%;
}

table.table td:last-child i {
    font-size: 24px;
    margin: 0 5px;
}

table.table td:nth-child(6) {
    min-width: 70px;
}

table.table td a.edit {
    color: orange;
}

table.table td a.delete {
    color: red;
}

/* Modal styles */
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

#logo {
    max-width: 7%;
}

#renew {
    color: #28a745;
}

#cancel {
    color: red;
}